body{
	/*background-color: blueviolet;
	opacity: 90%;
*/
	background-image: url(https://kartinkin.net/uploads/posts/2021-10/1633778455_56-kartinkin-net-p-noch-piksel-art-krasivo-61.jpg);
	/*background-size: 100% auto;*/
	background-size: cover;
	opacity: 100%;
	z-index: 0;
}

.header{
	padding: 20px 40px;
}

.nav{
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
}

.header__img{
	height: 24px;
	margin-right: 14px;
}

.header__p{
	font-size: 18px;
	color: white;
	font-weight: bold;
}

.wrapper{
	display: flex;
}

.aside-left{
	width: 100px;
	height: 80vh;
	padding-left: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.aside-left__up, .aside-left__down{
	display: flex;
	flex-direction: column;
}

.main-content{
	height: 80vh;

}

.main-content__add-note{
	width: 1220px;
	height: 100%;
	opacity: 100%;
/*	background-color: grey;
*/	
	background: rgb(9,9,121);
	background: rgba(0, 0, 0, 0.5);
	background: linear-gradient(113deg, rgba(9,9,121,0.4) 0%, rgba(230,230,230,0.8634628851540616) 37%, rgba(0,212,255,0.5029586834733894) 100%);
	z-index: 2;
}

.main-content__btn{
	display: flex;
	justify-content: center;
	padding: 40px 0;
}

.btn{
	padding: 40px 300px;
	font-size: 24px;
	background-color: rgba(0, 0, 0, 0.0);
	border: 1px solid white;
	border-radius: 10px;
	border-style: dashed;
	color: white;
}

.main-content__node-list{
	/*display: flex;*/
	/*justify-content: center;*/
	text-align: left;
	padding: 40px 100px;
}

.main-content__input{
	width: 100%;
	padding: 10px 20px;
}

